[Unit]
After=multi-user.target
Documentation=https://github.com/lefuturiste/batterytator
Description=Battery monitoring service that send notifications

[Service]
Type=simple

User=${BATTERYTATOR_USER}
Group=${BATTERYTATOR_USER}

ExecStart=/usr/bin/batterytator ${BAT_ID}
ExecReload=
ExecStop=

Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
