[Unit]
After=multi-user.target
Documentation=https://github.com/lefuturiste/batterytator
Description=Battery monitoring service that send notifications

[Service]
Type=simple

User=${BATTERYTATOR_USER}
Group=${BATTERYTATOR_USER}

ExecStart=/usr/bin/batterytator ${BATTERYTATOR_USER} ${BAT_ID}
ExecReload=
ExecStop=

Restart=always
RestartSec=1s

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=batterytator

[Install]
WantedBy=multi-user.target
